@model IEnumerable<Rival.Models.Courts.CourtListItem>

@{
    ViewBag.Title = "Available Courts";
}

<div class="row">
    <div class="col"></div>
    <div class="col-8 card panel panel-default text-center">
        <div class="panel-heading card-header" style="font-size: 20px;"><b>Available Courts</b></div>
        <div class="panel-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Location</th>
                        <th>Quality of the Court (Scale 1-5)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var court in Model)
                    {
                        <tr>
                            <td>@court.Location</td>
                            <td>@court.Condition</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col"></div>
</div>